<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Mattia Barbon <mattia@barbon.org>
     distributed under the terms of the MIT license -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.barbon.acash"
      android:versionCode="1"
      android:versionName="0.1">
  <uses-sdk android:minSdkVersion="4" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <application android:label="@string/app_name" android:icon="@drawable/icon">
    <activity android:name=".NewExpense">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="org.barbon.acash.NEW_EXPENSE" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:name=".NewAccount">
      <intent-filter>
        <action android:name="org.barbon.acash.NEW_ACCOUNT" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:name=".ExpenseList">
      <intent-filter>
        <action android:name="org.barbon.acash.EXPENSE_LIST" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:name=".AccountList">
      <intent-filter>
        <action android:name="org.barbon.acash.ACCOUNT_LIST" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:name=".ExpenseDetails">
      <intent-filter>
        <action android:name="org.barbon.acash.EXPENSE_DETAILS" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:name=".AccountDetails">
      <intent-filter>
        <action android:name="org.barbon.acash.ACCOUNT_DETAILS" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:name=".BrowseGnuCash">
      <intent-filter>
        <action android:name="org.barbon.acash.BROWSE_GNUCASH_FILES" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
  </application>
</manifest>
